{{outlet}}

<div class="container">
    <form>
        <div class="page-header">
            <h2>Create Homepage</h2>
        </div>
        <span>Selected Template: {{homepageTemplate.name}}</span> 

        {{!-- {{view Ember.Select content=controllers.homepages.templates value=model.homepageTemplate optionValuePath="content._id" optionLabelPath="content.name" selection=model.homepageTemplate prompt="Please a select a template" }} --}}
        <div class="form-group">
            <label for="identification">Title</label>
            {{input type="text" value=title class='form-control'}}
        </div>
        <button class="btn btn-default" {{action 'createPost' model}}>Create Homepage</button>
    </form>
</div>
