{{outlet}}
<div class="container">
	<div class="page-header">
        <h2>{{album.name}} <small>{{moment album.createdAt 'MMM Do, YY'}}</small></h2>
        <p>{{album.description}}</p>
    </div>
	<photo-gallery photos={{model}} album={{album}} p={{p}}></photo-gallery>
	
	{{#if p}}
		<photo-viewer currentPhoto={{currentPhoto}} photos={{model}} album={{album}} nextPhoto="nextPhoto" closeViewer="closeViewer"></photo-viewer>
	{{/if}}
</div>

