<div class="wizard-wrapper container">

    <div class="wizard row">
        {{#each steps as |step index|}}
            <div {{action 'goToStep' index}} class="wizard-step pull-left">{{index}}. {{step.caption}}</div>
        {{/each}}
    </div>

    <div class="clear row wizard-form">
        <form role="form" {{action 'submitAction' status on='submit'}}>
            <div class="bump"></div>
            {{component type status=status}}

            <div class="bump"></div>
            {{#unless firstStep}}
                <div {{action 'prevStep'}} class="btn btn-info">Previous</div>
            {{/unless}}

            {{#unless lastStep}}
                <div {{action 'nextStep'}} class="btn btn-info">Next</div>
                {{else}}
                    <button {{action 'submitAction' status}} type="submit" class="btn btn-default">Submit</button>
            {{/unless}}

            <div class="bump"></div>

        </form>
    </div>
</div>
{{yield}}
