<div class="wizard-wrapper row">

    <div class="wizard">
        {{#each steps as |step index|}}
            <div {{action 'goToStep' index}} class="wizard-step pull-left">{{index}}. {{step.caption}}</div>
        {{/each}}
    </div>

    <div class="clear wizard-form">
        <form role="form" {{action 'submitAction' status on='submit'}}>
            {{#liquid-with type class="wizard" as |t|}}
              {{component t status=status}}
            {{/liquid-with}}

            <div class="bump"></div>
            {{#unless firstStep}}
                <div {{action 'prevStep'}} class="btn btn-info">Previous</div>
            {{/unless}}

            {{#unless lastStep}}
                <div {{action 'nextStep'}} class="btn btn-info">Next</div>
              {{else}}
                <button {{action 'submitAction' status}} type="submit" class="btn btn-default">Submit</button>
            {{/unless}}
        </form>
        <div class="bump"></div>
    </div>
</div>
{{yield}}
