{{outlet}}

<div class="container upload-wrapper">
	<div class="page-header">
        <h2>Upload your photos</h2>
    </div>
    <div class="row">
		<div  class="bump modal-body">
			<h4>Select Album</h4>
			{{album-picker albums=model selectedAlbum=selectedAlbum}}
			{{bootstrap-fileinput url="/api/v1/uploads/photo" associationType="album" extraData=selectedAlbum.id}}

      {{#pl-uploader extensions="jpg jpeg png gif" action="http://localhost:1337/api/v1/uploads/photo" for="upload-photo" when-queued="queuePhoto" as |queue features|}}
        {{#if features.drag-and-drop}}
          <div class="dropzone" id={{features.drag-and-drop.dropzone-id}}>
            {{#if features.drag-and-drop.drag-data}}
              {{#unless features.drag-and-drop.drag-data.valid}}
                Invalid File
              {{/unless}}
            {{else if queue.length}}
              {{#each controller.photos as |photo|}}
                <div class="dropzone-photo-preview file-preview-frame">
                  <img src={{photo.preview}} title={{photo.name}} style="max-width: 100%; max-height: 160px">
                  <div class="file-thumbnail-footer">
                    <div class="file-caption-name" title={{photo.name}}>{{photo.name}}</div>

                    <div class="file-actions">
                      <div class="file-footer-buttons">
                        <button type="button" class="kv-file-upload btn btn-xs btn-default" title="Upload file">
                          <i class="glyphicon glyphicon-upload text-info"></i>
                        </button>
                        <button type="button" class="kv-file-remove btn btn-xs btn-default" title="Remove file">
                          <i class="glyphicon glyphicon-trash text-danger"></i>
                        </button>
                      </div>
                      <div class="file-upload-indicator" tabindex="-1" title="Not uploaded yet">
                        <i class="glyphicon glyphicon-hand-down text-warning"></i>
                      </div>
                    </div>
                  </div>
                </div>
              {{/each}}
            {{else}}
              <div id="upload-photo" class="dropzone-instructions">Drag & drop files here …</div>
            {{/if}}
          </div>
        {{else}}
          <div id="upload-photo" class="btn btn-info">Browse</div>
          {{#if queue.length}}
            {{#each events as |event|}}
              <div><img src={{event.preview}} style="max-width: 100px; max-height: 100px"></div>
              <div><span>{{event.filename}}</span></div>
            {{/each}}
          {{/if}}
        {{/if}}
      {{/pl-uploader}}



		 </div>
		<div class="modal-footer">
			{{#link-to "s.media"}}
				<div class="btn btn-info">
					<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
					Back to gallery
				</div>
			{{/link-to}}
		</div>
	</div>
</div>
