{{outlet}}

<div class="container upload-wrapper">
	<div class="page-header">
        <h2>Upload your photos</h2>
    </div>
    <div class="row">
		<div  class="bump modal-body">
			<h4>Select Album</h4>
			{{album-picker albums=model selectedAlbum=selectedAlbum}}

      {{#pl-uploader extensions="jpg jpeg png gif" action="http://localhost:1337/api/v1/uploads/photo" for="upload-photo" when-queued="queuePhoto" file-key="file_data" headers=requestHeaders as |queue features|}}
        <div class="photo-preview {{if features.drag-and-drop dropzone}}" id="{{if features.drag-and-drop features.drag-and-drop.dropzone-id}}">
          {{#if features.drag-and-drop}}
            {{#if features.drag-and-drop.drag-data}}
              {{#unless features.drag-and-drop.drag-data.valid}}
                <span class="dropzone-instructions dropzone-file-invalid">Invalid File</span>
              {{/unless}}
            {{else}}
              {{#unless queue.length}}
                <span class="dropzone-instructions">Drag & drop files here …</span>
              {{/unless}}
            {{/if}}
          {{/if}}
          {{#if queue.length}}
            {{#each controller.photos as |photo|}}
              <div class="photo-preview-frame file-preview-frame">
                <img src={{photo.preview}} title={{photo.name}} class="photo-preview-img">
                <div class="file-thumbnail-footer">
                  <div class="file-caption-name" title={{photo.name}}>{{photo.name}}</div>
                  <div class="file-actions">
                    <div class="file-footer-buttons">
                      <button type="button" class="kv-file-upload btn btn-xs btn-default" title="Upload file">
                        <i class="glyphicon glyphicon-upload text-info"></i>
                      </button>
                      <button {{action "deletePhoto" photo}} type="button" class="kv-file-remove btn btn-xs btn-default" title="Remove file">
                        <i class="glyphicon glyphicon-trash text-danger"></i>
                      </button>
                    </div>
                    <div class="file-upload-indicator" tabindex="-1" title="Not uploaded yet">
                      <i class="glyphicon glyphicon-hand-down text-warning"></i>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
          {{/if}}
        </div>
      {{/pl-uploader}}
		 </div>
		<div class="modal-footer">
			{{#link-to "s.media"}}
				<button class="btn btn-info pull-left">
					<i class="glyphicon glyphicon-arrow-left" aria-hidden="true"></i>&nbsp;Back
				</button>
      {{/link-to}}

        <button id="upload-photo" class="btn btn-primary btn-file kv-fileinput-browse ">
          <i class="glyphicon glyphicon-folder-open"></i>&nbsp;Browse
        </button>

      {{#link-to "s.media"}}
        <button class="btn btn-default kv-fileinput-upload pull-right" {{action "uploadPhotos" selectedAlbum}} disabled={{unless selectedAlbum "true"}}>
					<i class="glyphicon glyphicon-upload"></i>&nbsp;Upload
				</button>
			{{/link-to}}
		</div>
	</div>
</div>
