{{outlet}}
<div class="container">

    {{user-profile user=model}}
    <div class="col-xs-4">
        <div class="row">
            <h3>List of Vendors</h3>
        </div>
        {{#each vendors as |vendor|}}
            <div class="row">
                <h4>{{vendor.name}}</h4>
                <h6>{{vendor.description}}</h6>
            </div>
        {{/each}}
    </div>
    <div class="col-xs-4">
        <div class="row">
            <h3>List of Events</h3>
        </div>
        {{#each events as |event|}}
            <div class="row">
                <h4>{{event.title}}</h4>
                <h6>{{moment event.eventDate 'MM/DD/YYYY'}}</h6>
            </div>
        {{/each}}
    </div>
</div>
